@tailwind base;
@tailwind components;
@tailwind utilities;

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Profile_div {
    display: flex;
    align-items: center;
}

.NFT_div {
    flex: 1;
    text-align: left;
    margin-left: '100px';
}

.nftProfile {
    border-radius: 20%;
}

.Stats_div {
    flex: 1;
    text-align: right;
    margin-left: '100px';
}

.dropzone {
    border: 0.1cm;
    border-style: dashed;
}

.submitButton {
    border: 0.1cm;
    border-style: solid;
}